.frontPage{
    display: flex;
    flex-direction: row;

}

.frontPageLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 500px;
    background-color: white;
}

.frontPage > img{
    width:50vw;
    height: 500px;
}
.outlet-background{
    margin-top: 70px;
    background-color: rgb(248, 244, 244);
    width: 100vw;
    height: 100vh;
}

input[type="submit"]{
    border-radius: 1.6rem;
    background-color: #378fe9;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: #0a66c2;
}
label, input, textarea {
    display: block;

}
textarea{
    width: 300px;
    height: 100px;
    vertical-align: top;
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 5vw;
    margin-top: 10vh;
}
