.links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 5vw;
    margin-top: 10vh;
}
.links > a{
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 5px;
}
