.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 98vw;
    z-index: 100;
    background-color: white;
    border-bottom: 1px solid gray;
  }

  .session-links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .session-links > * {
    padding-right: 5px;
  }
  h1 {
    color:blue;
  }
