.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 98vw;
    z-index: 100;
    background-color: white;
    border-bottom: 1px solid gray;
  }
  .search-bar{
    margin-left: 2vw;
    margin-right: 57vw;
  }
.nav-bar > h1{
  margin-left: 1vw;
}
  .session-links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .session-links > * {
    padding-right: 1vw;
  }
  h1 {
    color:blue;
  }
.home-session-links{
  margin-right: 1vw;
}
.home-session-links > *{
  padding-left: 1vw;
}
