.user-profile-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.circleIcon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: grey;
    color: #fff;
    font-size: 24px;
    line-height: 100px;
    text-align: center;
    position: absolute;
    top: 8vh;
    left: 2vh;
}
.banner {
    height: 100px;
    width : 100%;
    background-color: cyan;
}
.edit-profile{
    width:fit-content;
    align-self: flex-end;
}
