.education-profile{
    border : 1px solid grey;
    border-radius: 10px;
    margin-top: 10px;
    background-color: white;

}
.education-list{
    list-style-type: none;

}
.education-list > li{
    border-bottom: 1px solid gray;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.education-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}
.add-education-button{
    margin-right: 10px;
    height: 2.4rem;
    width: 2.4rem;
    border: none;
    background-color: white;
    background-size: 1.4rem;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border-radius: 50%;
    background-image: url('../../../assets/plus.png');

}

.add-education-button:hover{
    background-color: rgb(248, 244, 244);
}
